In [10]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10,3), index =pd.date_range('01/06/2020',periods=10), columns = ['col1','col2','col3'])
#df.rolling(window=3).mean() #3개의 값을 합해서 평균(mean)을 내서 값으로 출력하는 것
df
df.rolling(window=3).sum()

                col1      col2      col3
2020-01-06       NaN       NaN       NaN
2020-01-07       NaN       NaN       NaN
2020-01-08 -0.644381 -0.548934 -2.970381
2020-01-09 -1.963284  0.161928 -4.586319
2020-01-10 -3.954165 -1.630955 -2.114459
2020-01-11 -3.349551 -2.170348  0.199261
2020-01-12 -2.289691 -1.906978  0.194971
2020-01-13 -0.882759 -1.340402 -0.201231
2020-01-14 -1.796226 -1.026313  1.014456
2020-01-15 -0.365241 -2.054688  0.761732

In [32]:
# df2 = pd.DataFrame([[1,2,3]])
# df2
# df3 = df2.iloc[:,:1]
# df3
# df3[0]=100
# df3
# df2

# ds = pd.Series([1,2,3,4])
# ds[0] =100
# ds1 = ds[:1]
# ds1[0] = 300
# ds1
df3 = pd.DataFrame([3,2,1])
df3
df4 = df3[:]
df3.iloc[0] = 300
df3
df3.sort_values(by=[0], inplace = True)
df3

     0
2    1
1    2
0  300

In [46]:
list1 = [1,2,3,4,5]

def add(x):
    return x+10
result1 = map(add, list1)
list(result1)

df5 = pd.DataFrame([[1,2],[3,4]], columns=['col1','col2'])
df5['col1'].map(add)

list2 = [1,2,3,2,1]
df6 = pd.DataFrame(list2)
df6
kinds = {1:'pig', 2:'cow', 3: 'chicken'}
kinds

df6[0].map(lambda y: kinds[y]) #맵핑을 통해서 데이터 변경하기

0        pig
1        cow
2    chicken
3        cow
4        pig
Name: 0, dtype: object