In [33]:
import numpy as np
import pandas as pd

df = pd.DataFrame([1,2,3,4,5,6,7,8,9], index =[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])
df.loc['a']
df.loc['b']
df.loc['a',1]
df.index
df.loc[['a','b']]
df
df2 = df.unstack
df2

#!pip install xlrd

df5 = pd.read_excel('score.xlsx', header=0, index_col=0, sheet_name="Sheet2")
df5.stack().unstack()
df6 = pd.read_excel("score.xlsx", header=[0,1], index_col=0,sheet_name="Sheet1")
df6.stack(level=1).unstack()

     1학기     2학기
      과학  수학  과학   수학
강감찬   30  20  90   10
권율    40  90  90  100
이순신   80  30  50   40
홍길동  100  10  30   20