In [3]:
import numpy as np
import pandas as pd

left = pd.DataFrame({
    'id':[1,2,3,4,5],
    'name':['a','b','c','d','e'],
    'subject_id' : ['sub1','sub2','sub4','sub5','sub6']
})
right = pd.DataFrame({
    'id':[1,2,3,4,5],
    'name' :['a1','b1','c1','d1','e1'],
    'subject_id' : ['sub2','sub4','sub3','sub6','sub5']
})
#df = pd.merge(left,right, on="id")
df = pd.merge(left,right, on="subject_id", how = "outer")
#how인자: left(왼쪽조인: 왼쪽의 모든 로우를 포함하는 결과), right(오른쪽조인 :오른쪽의 모든 로우를 포함하는 결과), outer(외부조인:합집합 결과 반환)
df

   id_x name_x subject_id  id_y name_y
0   1.0      a       sub1   NaN    NaN
1   2.0      b       sub2   1.0     a1
2   3.0      c       sub4   2.0     b1
3   4.0      d       sub5   5.0     e1
4   5.0      e       sub6   4.0     d1
5   NaN    NaN       sub3   3.0     c1