In [16]:
import numpy as np
import pandas as pd

data= {'name':pd.Series(['강감찬','이순신','홍길동']),
        'age':pd.Series([20,30,40]),
        'salary':pd.Series([2000,3000,4000])}

df = pd.DataFrame(data)
df.shape
df.ndim
df.sum(1)
df.mean()
df.std()
df.min()
df.describe()


data2 = {'name':pd.Series(['강감찬','이순신','홍길동','강감찬','이순신','홍길동','강감찬','이순신','홍길동']),
        'age': pd.Series([20,30,40,50,60,70,80,90]),
        'salary': pd.Series([2000,30000,4000,5000,600,7000,8000,9000])}

df2 = pd.DataFrame(data2)
df2
df3 = df2.reindex(index=[0,2,5],columns=['name','salary','grade'])
df3

df4 = pd.DataFrame(np.random.randn(10,3), columns=['col1','col2','col3']) #10행 3열의 표준정규분포 랜덤으로 뽑기
df5 = pd.DataFrame(np.random.randn(7,3), columns=['col1','col2','col3'])
df5.reindex_like(df4,method ="ffill") #null값을 채우는 것

       col1      col2      col3
0 -0.315789  0.101828  0.392531
1 -1.639619  0.943840  0.569218
2  1.432610 -2.399138  1.585333
3 -0.630843 -0.469866  0.426165
4 -1.093800  0.117512  1.030698
5 -2.378781  0.692810 -1.623858
6 -0.295998  0.117042 -0.054464
7 -0.295998  0.117042 -0.054464
8 -0.295998  0.117042 -0.054464
9 -0.295998  0.117042 -0.054464

In [25]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

res = requests.get("http://ticket2.movie.daum.net/Movie/MovieRankList.aspx")
soup = BeautifulSoup(res.content, 'lxml')
box = soup.find_all('div',class_="desc_boxthumb")

data = []
for movie in box:
    title, ranking = movie.find('strong',class_ ="tit_join"), movie.find('em',class_="emph_grade")
    movie, grade = title.get_text().strip(), ranking.get_text().strip()
    data.append([movie, grade])

df = pd.DataFrame(data, columns=['title','rating'])
df['rating'] =df['rating'].astype(float)
df.dtypes
df['rating'].mean()

7.639999999999999

In [13]:
import pandas as pd
df = pd.read_csv("./data/billboard.csv")
df.shape
df.dtypes
df.describe
df.columns
df2 = df.reindex(index=[0,1,2], columns = ['time','artist','year'])
df2

   time        artist  year
0  4:22         2 Pac  2000
1  3:15       2Ge+her  2000
2  3:53  3 Doors Down  2000

In [2]:
import pandas as pd
import numpy as np
df3 = pd.DataFrame(np.random.randn(6,3), columns=['col1','col2','col3'])
df4 = df3.rename(index={0:100,1:200}, columns={'col1':'one','col2':'two'})
df4

          one       two      col3
100 -1.348883 -1.333694  1.201316
200  0.058040 -1.225532 -0.188991
2   -0.881847 -0.993305 -1.431696
3   -1.263967  1.310434 -0.446442
4   -0.679237 -0.175542  0.350042
5    0.577349  0.428337 -0.962927